body {
    display: grid;
    grid-template-columns: 207px auto;
    height: 100vh;

}

:root {
    --cor-cinza-bloco: #d0d7de;
    --cor-amarelo-claro:#FFF1C2;
    --cor-cinza-empresa: #F3F5F7;
    --cor-verde-botao:#2ea173;
    --cor-vermelho-botao:#CC3E33;
    --cor-escura:black;

    
    --fz-menus:12px;    
    --fz-logo-empreza:10px;
    --fz-botoes:11px;
    --fz-btn-grande:13px;
    --fz-icones-menu:15px;


}



/* ============== BLOCO ESQUERDO =========== */
.bloco-esquerdo {
    padding: 16px 16px 0;
    height: inherit;
    box-sizing: border-box;
}

.bloco-esquerdo__empresa {
    padding: 12px;
    background-color:var(--cor-cinza-empresa);
    border-radius: 10px;
    margin-bottom: 35px;
    padding-bottom: 5px;
}


.bloco-esquerdo__empresa-bloco {}

.info-propietario {
    display: flex;
    margin-top: 15px;
    gap: 20px;
}

.bloco-esquerdo__empresa-logo__propietario .imagem-empresa {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /* margin-left: 10px; */
}


.bloco-esquerdo__titulo-subtitulo-titulo-empresa {
    font-size: var(--fz-menus);
    margin-bottom: 8px;

}

.bloco-esquerdo__titulo-subtitulo-titulo-empresa-subtitulo {

    font-size: var(--fz-menus);
    margin-bottom: 17px;
}


.bloco-esquerdo__empresa-bloco-configuracoes-lista {
    border-top: 1px solid var(--cor-cinza-bloco);
    padding-top: 10px;
}

.bloco-esquerdo__empresa-bloco-configuracoes__link {
    display: flex;
    text-decoration: none;
    gap: 10px;
    font-size: var(--fz-logo-empreza);
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

.bloco-esquerdo__empresa-bloco-configuracoes__link i {
    font-size: 15px;
}


/* ============== BLOCO MOVIMENTOS ================ */
.bloco-movimentos {
    margin-bottom: 30px;
}


.bloco-movimentos__item-lista {
    margin-bottom: 7px;
    padding: 10px;
    border-radius: 5px;

}

.bloco-movimentos__item-lista:nth-child(1) {
    background-color: var(--cor-amarelo-claro);
    
}

.bloco-movimentos__item-lista:hover:nth-child(1) {
    background-color: var(--cor-amarelo-claro);
}



.bloco-movimentos__item-lista:hover {

    background-color:var(--cor-cinza-empresa);

}


.bloco-movimentos__link {
    display: flex;
    text-decoration: none;
    gap: 10px;
    color:var(--cor-escura);
    font-size: var(--fz-menus);

}

.bloco-movimentos__link i {
    font-size: var(--fz-icones-menu);
}

.bloco-movimentos__titulo {}




/* ========== BLOCO GERENCIAR ============ */

.bloco-gerenciar {
    margin-bottom: 20px;
}



.bloco-gerenciar__titulo {
    text-transform: uppercase;
    font-size: 9px;
    margin-bottom: 25px;
    color: var(--cor-verde-botao);
    font-weight: bold;
}

.bloco-gerenciar__lista {
    border-bottom: 2px solid var(--cor-cinza-bloco);
}

.bloco-gerenciar__item-lista {
    padding: 10px;
    border-radius: 5px;
}

.bloco-gerenciar__item-lista:hover {
    background-color: var(--cor-cinza-empresa);

}

.bloco-gerenciar__link {
    display: flex;
    text-decoration: none;
    gap: 10px;
    font-size: var(--fz-menus);
    color: var(--cor-escura);
}

.bloco-gerenciar__link i {
    font-size: var(--fz-icones-menu);
}


/* ========== BLOCO TERMOS ============ */

.bloco-termos__item-lista {
    margin-bottom: 7px;
    padding: 10px;
    border-radius: 5px;

}

.bloco-termos__item-lista .icone-sair {
    color: var(--cor-vermelho-botao);

}

.bloco-termos__link {
    display: flex;
    gap: 10px;
    font-size: var(--fz-menus);
    text-decoration: none;
    color: var(--cor-escura);
}

.bloco-termos__link i {
    font-size: 15px;

}

/* ============ BLOCO ESQUERDO =========== */



.bloco-principal {
    border-left: 1px solid var(--cor-cinza-bloco);
    height: inherit;
    background-color: #fbfbfb;

}

.cabecalho {
    padding-top: 30px;
    border-bottom: 1px solid  var(--cor-verde-botao);
    padding-bottom: 15px;

}

.cabecalho__titulo {
    font-size: 24px;
}

.cabecalho-bloco {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__conjunto-botoes {
    display: flex;
    gap: 20px;
}
.cabecalho__btn {
    background-color: transparent;
    width: 163px;
    border: none;
    padding: 8px 24px;
    border: 2px solid black;
    border-radius:10px;
    cursor: pointer;
    box-sizing: border-box;
    width: fit-content;
    height: 37px;
    
}


.cabecalho__btn-titulo {
    font-size: 11px;
}

  .cabecalho__btn--fechamento {
    display: flex;
    gap:8px;
    align-items: center;

}

.cabecalho .cabecalho__btn--fechamento:hover {

    transition: 1s ease;
   background-color: var(--cor-cinza-bloco);
   opacity: 70%;
}

.cabecalho .cabecalho__btn--fechamento i {
    font-size: 18px;
} 

.cabecalho__btn--venda {
    background-color: var(--cor-verde-botao);
    border: none;
    color: #fff;
    font-weight: bold;

}

.cabecalho__btn--despesa {
    background-color: #CC3E33;
    border: none;
    color: #fff;
    font-weight: bold;


}

/* ========== CONTEUDO PRINCIPAL ========= */

/* CONTAINER TODO BLOCO ESQUERDO */

.container {
    padding: 0 40px;
}
.conteudo-principal {
    padding: 24px;
    height: calc(100vh - 83.19px);
    box-sizing: border-box;
}

.conteudo-principal__conjunto-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.conteudo-principal__conjunto-btn-btn {
    padding: 10px;
    background-color: black;
    border: none;
}

.conteudo-principal__conjunto-btn-btn:hover {
    background-color:var(--cor-verde-botao);
    transition: 0.5s ease;
}

.conteudo-principal__conjunto-btn-btn:active {
    background-color: black;
} 


.conteudo-principal__conjunto-btn-btn .titulo {

    color: #fff;
    text-transform: uppercase;
}
