.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: none;

}

/* ESTILOS REUTILIZAVEIS */

.titulo-input {
    font-size: 13px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;

}

.subtitulo-input {

    font-size: 13px;
    color: #acb4bb;
    font-weight: 600;
    margin-bottom: 5px;

}



.estilos__input {
    width: 100%;
    padding: 8px 16px;
    display: block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #acb4bb;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
}

.estilos__textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 16px;
    outline: none;
    border: 1px solid #acb4bb;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: sans-serif;

}

/* ========== BLOCO MOVIMENTOS ======== */

.bloco-movimentos__item-lista:nth-child(1) {
    background-color: transparent;

}

.bloco-movimentos__item-lista:hover:nth-child(1) {
    background-color: var(--cor-cinza-empresa);
}


.bloco-movimentos__item-lista:nth-child(2) {
    background-color: var(--cor-amarelo-claro);

}

.bloco-movimentos__item-lista:hover:nth-child(2) {
    background-color: var(--cor-amarelo-claro);
}



/* ============ BLOCO ESQUERDO =========== */

.btn-branco {
    background-color: transparent;
    border: none;
    border: 2px solid black;
    color: black;
}

.cabecalho__btn--fechamento {
    display: none;

}

.cabecalho__btn--despesa {
    border-radius: 0;
    background-color: #FED74D;
    color: #987601;
    font-weight: bold;
}

.cabecalho__btn--despesa .cabecalho__btn-titulo {
    font-size: 13px;
    border: none;
}


/*  ============ BLOCO FLUTUANTE ========== */



.bloco-funtutante-venda {
    width: 512px;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 1px 1px 5px black;
    padding: 24px 0;
    box-sizing: border-box;
    display: none;
    transition: 0.2s ease;
    z-index: 10;





}

.bloco-funtutante-venda {
    animation: mover .2s ease;
}


@keyframes mover {
    0% {
        right: -500px;
        display: block;

    }

    100% {
        right: 0;
        display: block;

    }

}





.container-bloco-flutuante {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;

}

.bloco-funtutante-venda__superior {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

}

.bloco-funtutante-venda__superior-titulo {
    font-size: 20px;
    font-weight: bold;
}

.bloco-funtutante-venda__superior i {
    font-size: 25px;
    cursor: pointer;
}

.bloco-flutuante-venda__barra-scrrol {
   
    height: 830px;


}



.bloco-flutuante-venda__arquivo {
    border: none;
    padding: 8px 16px;
    width: fit-content;
    cursor: pointer;
    border-radius: 10px;
    height: 112px;
    box-sizing: border-box;
    width: 112px;
    border: 1px dashed #0d74da;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(205, 229, 254);
    margin-bottom: 15px;
}

.bloco-flutuante-venda__bloco-imagem img {

    width: 112px;
    height: 112px;
    display: none;
    margin-bottom: 15px
}


.bloco-flutuante-venda__arquivo i {
    font-size: 32px;

}


.bloco-funtutante-venda__titulo {
    margin-bottom: 16px;
}

.capiturar-produto {
    display: none;
}

.bloco-flutuante-venda__mensagem-erro-imagem {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    display: none;
}

.bloco-flutuante-venda__bloco-imagem {
    width: fit-content;
    position: relative;
}


.bloco-flutuante-venda__bloco-imagem-subbloco {
    width: 200px;
    position: absolute;
    top: 122px;
    left: 0;
    box-shadow:rgba(34, 38, 42, 0.05) 0.125rem 0.25rem 0.5rem, rgba(34, 38, 42, 0.1) 0.25rem 0.5rem 1.5rem;
    border-radius: 10px;
    background-color: #fff;
    padding:6px 0;
    box-sizing: border-box;
    display: none;
 

    
}

.bloco-flutuante-venda__bloco-imagem-icone {
    position:absolute;
    bottom: 0px;
    right: 0;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid black;
    display: none;
     

}
#bloco-flutuante-venda__bloco-imagem-subbloco-texto__file-img {
    display: none;

}
.bloco-flutuante-venda__bloco-imagem-subbloco-texto {
    font-size: 14px;
}
.bloco-flutuante-venda__bloco-imagem-subbloco-item-lista {
  cursor: pointer;
}
.bloco-flutuante-venda__bloco-imagem-subbloco-item-lista-bloco {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 10px 16px;
    cursor: pointer;
}

.bloco-flutuante-venda__bloco-imagem-subbloco-icone {
    display: block;
    position: static;
    width:15px;
    height: 15px;
}
.container-bloco-flutuante__titulo-imagem {
    font-size: 12px;
    color: #acb4bb;
    font-weight: 600;
    margin-bottom: 14px;
    line-height: 1.2;
}


.bloco-flutuante-venda__mensagem-erro {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    color: red;
    display: none;
}




.bloco-flutuante-venda__botao-adicionar {
    padding: 8px 24px 0;
    width: 100%;
    height: 40px;
    margin-top: 15px;

}

.bloco-flutuante-venda__input-bloco--codigo-barras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #acb4bb;
    padding: 8px 16px;
    border-radius: 5px;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 15px;

}

.bloco-flutuante-venda__mensagem-erro-codigo-barras {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    display: none;
}

.bloco-flutuante-venda__codigo-barras__input {
    border: none;
    outline: none;
    font-size: 16px;

}

.bloco-flutuante-venda__input-bloco--quantidade {
    display: flex;
    justify-content: space-between;
    border: 1px solid #acb4bb;
    padding: 8px 16px;
    border-radius: 5px;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 15px;
    align-items: center;

}

.bloco-flutuante-venda__quantidade__input {
    border: none;
    outline: none;
}

.quantidade__input-js {

    text-align: center;

}

.bloco-flutuante-venda__mensagem-erro-quantidade {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    display: none;
}

.bloco-flutuante-venda__botao-adicionar {
    background-color: rgb(23, 39, 50);
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 10px;
    height: 48px;
    font-weight: bold;
    margin-bottom: 60px;


}





/*  */
.pesquisa-produto__bloco-container {
    display: flex;
    gap: 5px;
    height: 33.66px;
    margin-bottom: 20px;


}

.pesquisa-produto__bloco {
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 6px;

}

.pesquisa-produto__bloco i {
    padding-left: 8px;

}

.pesquisa-produto__input {
    height: inherit;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.pesquisa-produto__btn-btn {
    box-sizing: border-box;
    display: flex;
    height: 33.65px;
    align-items: center;
    gap: 5px;
}


/* PESQUISA PRODUTO CATEGORIAS   */
.pesquisa-produto-categorias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-bottom: 40px;

}

.pesquisa-produto-categorias__inventario-bloco {
    background-color: #fff;
    padding: 16px 30px;
    border-radius: 10px;
    box-shadow: 3px 7px 20px #d9d9d9;
    display: flex;
    align-items: center;
    gap: 38px;
    height: 48px;
}

.pesquisa-produto-categorias__inventario-bloco i {
    position: relative;
    font-size: 30px;
    z-index: 1;

}

.pesquisa-produto-categorias__inventario-bloco i::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 50px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
    border-radius: 50%;
    z-index: -100;
    opacity: 30%;


}


.pesquisa-produto-categorias-bloco {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.pesquisa-produto-categorias__referencias-titulo {
    font-size: 15px;
    color: #778d9f;
    font-weight: bold;

}

.pesquisa-produto-categorias__referencias-valor {
    font-size: 20px;
    font-weight: 700;
}



/* PARTE DOS PRODUTOS */

.pesquisa-produto-produto {
    height: calc(100vh - 311px);
}

.pesquisa-produto-produto__lista {
    height: inherit;
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
    overflow-y: auto;

}


@media screen and (min-width:1279px) {

    .pesquisa-produto-produto__lista {
        gap: 74px;

    }


}


.pesquisa-produto-produto__item-lista {
    height: 224px;
    width: 176px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
}

.pesquisa-produto-produto__item-lista:hover {
    border: 3px solid var(--cor-verde-botao);
    box-sizing: border-box;

}



.pesquisa-produto-produto__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 16px 12px;
    height: inherit;
    box-sizing: border-box;


}

.pesquisa-produto-produto__imagem {
    height: 80px;
    object-fit: contain;
    width: 88px;
}

.pesquisa-produto-produto__preco {
    font-size: 15px;
    color: black;
    font-weight: 200;

}

.pesquisa-produto-produto__custo {
    display: none;
}

.pesquisa-produto-produto__nome {
    color: black;
    font-weight: bold;
    font-size: 17px;

}

.pesquisa-produto-produto__quantidade {
    color: #91A1B0;
    font-size: 14px;

}


/* BLOCO FLUTUANTE */
@media screen and (max-height:1046px) {
    .bloco-flutuante-venda__barra-scrrol {

        height: 800px;
    }

  
}
@media screen and (max-height:1021px) {
    .bloco-flutuante-venda__barra-scrrol {
        overflow-y: scroll;
        height: 700px;
    }

    
}

@media screen and (max-height:911px) {
    .bloco-flutuante-venda__barra-scrrol {
        overflow-y: scroll;
        height: 700px;
    }

   
}

@media screen and (max-height:886px) {
    .bloco-flutuante-venda__barra-scrrol {
        overflow-y: scroll;
        height: 654px;
    }


}
@media screen and (max-height:858px) {
    .bloco-flutuante-venda__barra-scrrol {
        overflow-y: scroll;
        height: 626px;
    }

  
}
@media screen and (max-height:823px) {
    .bloco-flutuante-venda__barra-scrrol {
        overflow-y: scroll;
        height: 600px;
    }

  
}
@media screen and (max-height:783px) {
    .bloco-flutuante-venda__barra-scrrol {
        overflow-y: scroll;
        height: 550px;
    }

  

@media screen and (max-height:728px) {
    .bloco-flutuante-venda__barra-scrrol {
        overflow-y: scroll;
        height: 463px;
    }

   
}

@media screen and (max-height:650px) {
    .bloco-flutuante-venda__barra-scrrol {
        overflow-y: scroll;
        height: 428px;
    }

 
}
@media screen and (max-height:615px) {
    .bloco-flutuante-venda__barra-scrrol {
        overflow-y: scroll;
        height: 420px;
    }

  
@media screen and (max-height:600px) {
    .bloco-flutuante-venda__barra-scrrol {
        overflow-y: scroll;
        height: 409px;
    }

   
}
/* GALERIA DE PRODUTOS */
@media screen and (min-width:712px) {
    .pesquisa-produto-produto__lista {
        gap: 118px;

    }
}

@media screen and (min-width:800px) {
    .pesquisa-produto-produto__lista {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 140px;

    }
}