

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: none;
    
}



/* ============ BLOCO ESQUERDO =========== */

.btn-branco {
    background-color: transparent;
    border: none;
    border: 2px solid black;
    color: black;
}

.cabecalho__btn--fechamento {
    display: none;

}

.cabecalho__btn--despesa {
    border-radius: 0;
    background-color: #FED74D;
    color: #987601;
    font-weight: bold;
}

.cabecalho__btn--despesa .cabecalho__btn-titulo {
    font-size: 13px;
    border: none;
}


/*  ============ BLOCO FLUTUANTE ========== */



.bloco-funtutante-venda {
    width: 512px;
    background-color: #fff;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 1px 1px 5px black;
    padding: 24px 0 ;
    box-sizing: border-box;
    display: none;
    transition: 0.2s ease;
    
   

}

 .bloco-funtutante-venda {
  animation: mover .2s ease ;
}


@keyframes mover {
  0% {
    right: -500px;
    display: block;

  }

  100% {
    right: 0;
    display: block;

  }
    
}
 




.container-bloco-flutuante {
    padding: 0 24px;
}

.bloco-funtutante-venda__superior {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

} 
.bloco-funtutante-venda__superior-titulo  {
    font-size: 20px;
    font-weight: bold;
}

.bloco-funtutante-venda__superior i {
    font-size: 25px;
    cursor: pointer;
} 





.bloco-flutuante-venda__arquivo {
    border: none;
    padding: 8px 16px;
    width: fit-content;
    cursor: pointer;
    border-radius: 10px;
    height: 112px;
    box-sizing: border-box;
    width: 112px;
    border: 1px dashed #0d74da;    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(205, 229, 254);
    margin-bottom: 15px;
}

.bloco-flutuante-venda__arquivo i {
    font-size: 32px;
} 


.bloco-funtutante-venda__titulo {
    margin-bottom: 16px;
}

.capiturar-produto {
    display: none;
}


.container-bloco-flutuante__titulo-imagem {
    font-size: 12px;
     color:  #acb4bb;
    font-weight: 600;
    margin-bottom: 14px;
    line-height: 1.2;
}

/* SEÇÃO 1 */
.bloco-flutuante-venda__arquivo-info {

     
}

.bloco-flutuante-venda__nome-produto {
    font-size: 13px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}


.bloco-flutuante-venda__lembrete {
    font-size: 13px;
    color:#acb4bb;
    font-weight: 600;
    margin-bottom: 5px;
}

.bloco-flutuante-venda__produto-input {
    width: 100%;
    padding: 8px 16px;
    display: block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #acb4bb;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 12px;
}

.estilos__input {
    width: 100%;
    padding: 8px 16px;
    display: block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #acb4bb;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
}


.bloco-flutuante-venda__mensagem-erro {
    color: #d86c64;
    font-size: 15px;
    margin-bottom: 10px;

}

.bloco-flutuante-venda__codigo-barras__titulo {
    font-size: 13px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

.bloco-flutuante-venda__codigo-barras__subtitulo {
    font-size: 13px;
    color: #acb4bb;
    font-weight: 600;
    margin-bottom: 5px;
}